@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,300,300italic);
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }

@media (min-width: 992px) {
  .container {
    width: 970px; } }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

@media (max-width: 600px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .footer-company, .footer-community, .col-lg-2, .col-xs-3, .col-sm-3, .footer-company, .footer-community, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .contact-adress, .footer-contact, .footer-blog, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .footer-contact, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .contact-form, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 0;
  padding-right: 0; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-12 {
  width: 100%; }

.col-xs-11 {
  width: 91.66666667%; }

.col-xs-10 {
  width: 83.33333333%; }

.col-xs-9 {
  width: 75%; }

.col-xs-8 {
  width: 66.66666667%; }

.col-xs-7 {
  width: 58.33333333%; }

.col-xs-6 {
  width: 50%; }

.col-xs-5 {
  width: 41.66666667%; }

.col-xs-4 {
  width: 33.33333333%; }

.col-xs-3 {
  width: 25%; }

.col-xs-2 {
  width: 16.66666667%; }

.col-xs-1 {
  width: 8.33333333%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-pull-11 {
  right: 91.66666667%; }

.col-xs-pull-10 {
  right: 83.33333333%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-8 {
  right: 66.66666667%; }

.col-xs-pull-7 {
  right: 58.33333333%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-5 {
  right: 41.66666667%; }

.col-xs-pull-4 {
  right: 33.33333333%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-2 {
  right: 16.66666667%; }

.col-xs-pull-1 {
  right: 8.33333333%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-push-11 {
  left: 91.66666667%; }

.col-xs-push-10 {
  left: 83.33333333%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-8 {
  left: 66.66666667%; }

.col-xs-push-7 {
  left: 58.33333333%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-5 {
  left: 41.66666667%; }

.col-xs-push-4 {
  left: 33.33333333%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-2 {
  left: 16.66666667%; }

.col-xs-push-1 {
  left: 8.33333333%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs-offset-11 {
  margin-left: 91.66666667%; }

.col-xs-offset-10 {
  margin-left: 83.33333333%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-8 {
  margin-left: 66.66666667%; }

.col-xs-offset-7 {
  margin-left: 58.33333333%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-5 {
  margin-left: 41.66666667%; }

.col-xs-offset-4 {
  margin-left: 33.33333333%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-2 {
  margin-left: 16.66666667%; }

.col-xs-offset-1 {
  margin-left: 8.33333333%; }

.col-xs-offset-0 {
  margin-left: 0%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .footer-company, .footer-community, .col-sm-4, .col-sm-5, .col-sm-6, .footer-contact, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }
  .col-sm-12 {
    width: 100%; }
  .col-sm-11 {
    width: 91.66666667%; }
  .col-sm-10 {
    width: 83.33333333%; }
  .col-sm-9 {
    width: 75%; }
  .col-sm-8 {
    width: 66.66666667%; }
  .col-sm-7 {
    width: 58.33333333%; }
  .col-sm-6, .footer-contact {
    width: 50%; }
  .col-sm-5 {
    width: 41.66666667%; }
  .col-sm-4 {
    width: 33.33333333%; }
  .col-sm-3, .footer-company, .footer-community {
    width: 25%; }
  .col-sm-2 {
    width: 16.66666667%; }
  .col-sm-1 {
    width: 8.33333333%; }
  .col-sm-pull-12 {
    right: 100%; }
  .col-sm-pull-11 {
    right: 91.66666667%; }
  .col-sm-pull-10 {
    right: 83.33333333%; }
  .col-sm-pull-9 {
    right: 75%; }
  .col-sm-pull-8 {
    right: 66.66666667%; }
  .col-sm-pull-7 {
    right: 58.33333333%; }
  .col-sm-pull-6 {
    right: 50%; }
  .col-sm-pull-5 {
    right: 41.66666667%; }
  .col-sm-pull-4 {
    right: 33.33333333%; }
  .col-sm-pull-3 {
    right: 25%; }
  .col-sm-pull-2 {
    right: 16.66666667%; }
  .col-sm-pull-1 {
    right: 8.33333333%; }
  .col-sm-pull-0 {
    right: auto; }
  .col-sm-push-12 {
    left: 100%; }
  .col-sm-push-11 {
    left: 91.66666667%; }
  .col-sm-push-10 {
    left: 83.33333333%; }
  .col-sm-push-9 {
    left: 75%; }
  .col-sm-push-8 {
    left: 66.66666667%; }
  .col-sm-push-7 {
    left: 58.33333333%; }
  .col-sm-push-6 {
    left: 50%; }
  .col-sm-push-5 {
    left: 41.66666667%; }
  .col-sm-push-4 {
    left: 33.33333333%; }
  .col-sm-push-3 {
    left: 25%; }
  .col-sm-push-2 {
    left: 16.66666667%; }
  .col-sm-push-1 {
    left: 8.33333333%; }
  .col-sm-push-0 {
    left: auto; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm-offset-11 {
    margin-left: 91.66666667%; }
  .col-sm-offset-10 {
    margin-left: 83.33333333%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-8 {
    margin-left: 66.66666667%; }
  .col-sm-offset-7 {
    margin-left: 58.33333333%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-5 {
    margin-left: 41.66666667%; }
  .col-sm-offset-4 {
    margin-left: 33.33333333%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-2 {
    margin-left: 16.66666667%; }
  .col-sm-offset-1 {
    margin-left: 8.33333333%; }
  .col-sm-offset-0 {
    margin-left: 0%; } }

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .footer-company, .footer-community, .col-md-3, .col-md-4, .contact-adress, .footer-contact, .footer-blog, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .contact-form, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }
  .col-md-12 {
    width: 100%; }
  .col-md-11 {
    width: 91.66666667%; }
  .col-md-10 {
    width: 83.33333333%; }
  .col-md-9 {
    width: 75%; }
  .col-md-8, .contact-form {
    width: 66.66666667%; }
  .col-md-7 {
    width: 58.33333333%; }
  .col-md-6 {
    width: 50%; }
  .col-md-5 {
    width: 41.66666667%; }
  .col-md-4, .contact-adress, .footer-contact, .footer-blog {
    width: 33.33333333%; }
  .col-md-3 {
    width: 25%; }
  .col-md-2, .footer-company, .footer-community {
    width: 16.66666667%; }
  .col-md-1 {
    width: 8.33333333%; }
  .col-md-pull-12 {
    right: 100%; }
  .col-md-pull-11 {
    right: 91.66666667%; }
  .col-md-pull-10 {
    right: 83.33333333%; }
  .col-md-pull-9 {
    right: 75%; }
  .col-md-pull-8 {
    right: 66.66666667%; }
  .col-md-pull-7 {
    right: 58.33333333%; }
  .col-md-pull-6 {
    right: 50%; }
  .col-md-pull-5 {
    right: 41.66666667%; }
  .col-md-pull-4 {
    right: 33.33333333%; }
  .col-md-pull-3 {
    right: 25%; }
  .col-md-pull-2 {
    right: 16.66666667%; }
  .col-md-pull-1 {
    right: 8.33333333%; }
  .col-md-pull-0 {
    right: auto; }
  .col-md-push-12 {
    left: 100%; }
  .col-md-push-11 {
    left: 91.66666667%; }
  .col-md-push-10 {
    left: 83.33333333%; }
  .col-md-push-9 {
    left: 75%; }
  .col-md-push-8 {
    left: 66.66666667%; }
  .col-md-push-7 {
    left: 58.33333333%; }
  .col-md-push-6 {
    left: 50%; }
  .col-md-push-5 {
    left: 41.66666667%; }
  .col-md-push-4 {
    left: 33.33333333%; }
  .col-md-push-3 {
    left: 25%; }
  .col-md-push-2 {
    left: 16.66666667%; }
  .col-md-push-1 {
    left: 8.33333333%; }
  .col-md-push-0 {
    left: auto; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md-offset-11 {
    margin-left: 91.66666667%; }
  .col-md-offset-10 {
    margin-left: 83.33333333%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-8 {
    margin-left: 66.66666667%; }
  .col-md-offset-7 {
    margin-left: 58.33333333%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-5 {
    margin-left: 41.66666667%; }
  .col-md-offset-4 {
    margin-left: 33.33333333%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-2 {
    margin-left: 16.66666667%; }
  .col-md-offset-1 {
    margin-left: 8.33333333%; }
  .col-md-offset-0 {
    margin-left: 0%; } }

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }
  .col-lg-12 {
    width: 100%; }
  .col-lg-11 {
    width: 91.66666667%; }
  .col-lg-10 {
    width: 83.33333333%; }
  .col-lg-9 {
    width: 75%; }
  .col-lg-8 {
    width: 66.66666667%; }
  .col-lg-7 {
    width: 58.33333333%; }
  .col-lg-6 {
    width: 50%; }
  .col-lg-5 {
    width: 41.66666667%; }
  .col-lg-4 {
    width: 33.33333333%; }
  .col-lg-3 {
    width: 25%; }
  .col-lg-2 {
    width: 16.66666667%; }
  .col-lg-1 {
    width: 8.33333333%; }
  .col-lg-pull-12 {
    right: 100%; }
  .col-lg-pull-11 {
    right: 91.66666667%; }
  .col-lg-pull-10 {
    right: 83.33333333%; }
  .col-lg-pull-9 {
    right: 75%; }
  .col-lg-pull-8 {
    right: 66.66666667%; }
  .col-lg-pull-7 {
    right: 58.33333333%; }
  .col-lg-pull-6 {
    right: 50%; }
  .col-lg-pull-5 {
    right: 41.66666667%; }
  .col-lg-pull-4 {
    right: 33.33333333%; }
  .col-lg-pull-3 {
    right: 25%; }
  .col-lg-pull-2 {
    right: 16.66666667%; }
  .col-lg-pull-1 {
    right: 8.33333333%; }
  .col-lg-pull-0 {
    right: auto; }
  .col-lg-push-12 {
    left: 100%; }
  .col-lg-push-11 {
    left: 91.66666667%; }
  .col-lg-push-10 {
    left: 83.33333333%; }
  .col-lg-push-9 {
    left: 75%; }
  .col-lg-push-8 {
    left: 66.66666667%; }
  .col-lg-push-7 {
    left: 58.33333333%; }
  .col-lg-push-6 {
    left: 50%; }
  .col-lg-push-5 {
    left: 41.66666667%; }
  .col-lg-push-4 {
    left: 33.33333333%; }
  .col-lg-push-3 {
    left: 25%; }
  .col-lg-push-2 {
    left: 16.66666667%; }
  .col-lg-push-1 {
    left: 8.33333333%; }
  .col-lg-push-0 {
    left: auto; }
  .col-lg-offset-12 {
    margin-left: 100%; }
  .col-lg-offset-11 {
    margin-left: 91.66666667%; }
  .col-lg-offset-10 {
    margin-left: 83.33333333%; }
  .col-lg-offset-9 {
    margin-left: 75%; }
  .col-lg-offset-8 {
    margin-left: 66.66666667%; }
  .col-lg-offset-7 {
    margin-left: 58.33333333%; }
  .col-lg-offset-6 {
    margin-left: 50%; }
  .col-lg-offset-5 {
    margin-left: 41.66666667%; }
  .col-lg-offset-4 {
    margin-left: 33.33333333%; }
  .col-lg-offset-3 {
    margin-left: 25%; }
  .col-lg-offset-2 {
    margin-left: 16.66666667%; }
  .col-lg-offset-1 {
    margin-left: 8.33333333%; }
  .col-lg-offset-0 {
    margin-left: 0%; } }

.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
  content: " ";
  display: table; }

.clearfix:after,
.container:after,
.container-fluid:after,
.row:after {
  clear: both; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.pull-right {
  float: right !important; }

.pull-left {
  float: left !important; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.invisible {
  visibility: hidden; }

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0; }

.hidden {
  display: none !important; }

.affix {
  position: fixed; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  max-width: 100%;
  margin: 0 auto;
  background: #f3f3f3;
  font-family: 'Open Sans', sans-serif; }

header {
  height: 80px;
  background: url(../img/menu-bcg.png) no-repeat bottom;
  background-color: #76c7c0; }

.header-logo {
  display: inline-block;
  line-height: 76px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 700;
  color: white;
  cursor: pointer; }
  .header-logo span {
    font-size: 20px;
    font-weight: 400; }

.header-menu {
  display: inline-block;
  float: right; }
  .header-menu ul {
    display: inline-block; }
  .header-menu__item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 400;
    margin-right: 15px;
    margin-top: 35px; }
    .header-menu__item a {
      text-decoration: none;
      color: white;
      padding: 10px 15px;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .header-menu__item a:hover {
        background: #e8645a;
        border-bottom: 3px solid #e2534b; }

.header-menu__search {
  display: inline-block;
  color: white;
  cursor: pointer; }
  .header-menu__search i {
    padding: 10px;
    -webkit-border-radius: 5px;
            border-radius: 5px; }
    .header-menu__search i:hover {
      background: #e8645a;
      border-bottom: 3px solid #e2534b; }
  .header-menu__search .fa-times {
    display: none; }

.dropdown {
  position: relative; }
  .dropdown i {
    padding: 0 5px 0px 0; }

.dropdown-menu {
  position: absolute;
  z-index: 2;
  top: 35px;
  left: 0;
  width: 200px;
  background: #e8645a;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  text-align: center; }
  .dropdown-menu li {
    padding: 15px 0;
    text-transform: capitalize; }
    .dropdown-menu li:last-of-type {
      -webkit-border-radius: 5px;
              border-radius: 5px; }
    .dropdown-menu li i {
      padding: 0 5px; }
    .dropdown-menu li a {
      padding: 10px 15px 10px 0;
      margin-top: 5px;
      background: #e5655d;
      -webkit-border-radius: 5px;
              border-radius: 5px; }
      .dropdown-menu li a:hover {
        background: #76c7c0; }

.fa-sort-asc {
  position: absolute;
  top: -5px;
  left: 12px;
  color: #e8645a; }

ul.dropdown-menu {
  display: none; }

.active a {
  background: #62a29e;
  border-bottom: 3px solid #528b86; }

.header-menu__button {
  display: inline-block;
  position: absolute;
  color: white;
  right: 20px;
  top: 15px;
  cursor: pointer;
  display: none; }

.search-form {
  position: absolute;
  z-index: 3;
  top: 110px;
  left: 50%;
  margin: -26px 0 0 -150px;
  display: none; }
  .search-form p {
    background: white;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    height: 45px;
    width: 300px; }
  .search-form input {
    border: none;
    position: relative;
    top: 12px;
    left: 12px;
    width: 250px;
    cursor: pointer; }
    .search-form input:focus {
      outline: none; }
  .search-form label {
    position: relative;
    top: 13px;
    left: 10px; }

.black-bcg {
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999; }

@media screen and (max-width: 1000px) {
  .header-menu {
    display: none;
    margin-top: -3px;
    width: 100%;
    text-align: center; }
    .header-menu ul {
      background: #76c7c0;
      width: 100%;
      -webkit-border-radius: 0 0 5px 5px;
              border-radius: 0 0 5px 5px;
      top: 20px;
      position: absolute;
      left: 0;
      opacity: 0.9;
      z-index: 2;
      top: 80px; }
    .header-menu__item {
      display: block; }
    .header-menu__button {
      display: block; }
    .header-menu__search {
      display: block;
      margin-top: 15px; }
  ul.dropdown-menu {
    position: relative; }
    ul.dropdown-menu a:hover {
      background: #e8645a; }
    ul.dropdown-menu a {
      background: #76c7c0; }
  i.fa-sort-asc {
    display: none; } }

.header-down {
  height: 80px;
  background: #ececec;
  position: relative; }
  .header-down .container:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid  #ececec;
    position: absolute;
    top: 80px; }

.error {
  display: none;
  margin-top: 10px;
  text-transform: uppercase;
  color: crimson; }

.header-title {
  float: left;
  line-height: 80px;
  text-transform: uppercase;
  color: #7f8c8c;
  font-size: 20px;
  font-weight: semibold; }

.header-nav {
  line-height: 80px;
  float: right;
  font-weight: normal;
  font-size: 12px; }
  .header-nav a, .header-nav span {
    text-decoration: none;
    color: #7f8c8c; }

.map {
  margin-top: 130px; }

.map-down {
  margin-top: 60px; }
  .map-down h3 {
    color: #777777;
    font-size: 13px;
    padding: 30px 20px;
    background: #ececec; }

.contact {
  margin-top: 60px; }
  .contact input {
    display: inline-block; }

.contact-form__name, .contact-form__email, .contact-form__site {
  width: 470px;
  height: 40px;
  background: #e5e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-top: 3px solid #d9dada;
  border-left: 3px solid #d9dada; }
  .contact-form__name + span, .contact-form__email + span, .contact-form__site + span {
    color: #7f8c8c;
    font-size: 18px;
    margin-left: 30px; }

.contact-form__email, .contact-form__site, .contact-form__message, .contact-form__submit {
  margin-top: 20px; }

.contact-form__message {
  background: #e5e6e6;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  border-top: 3px solid #d9dada;
  border-left: 3px solid #d9dada;
  height: 235px;
  width: 770px; }

.contact-form__title, .contact-adress__title {
  font-size: 20px;
  font-weight: semibold;
  color: #7f8c8c;
  text-transform: uppercase;
  margin-bottom: 60px; }

.contact-form__submit {
  background: #e8645a;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  color: white;
  font-size: 20px;
  font-weight: semibold;
  text-transform: uppercase;
  border-bottom: 3px solid #e2534b;
  cursor: pointer; }

.contact-adress__title, .contact-adress__mark, .contact-adress__phone, .contact-adress__mail {
  padding-left: 130px; }

.contact-adress__mail i {
  padding-right: 10px;
  color: #7f8c8c; }

.contact-adress__mark {
  font-size: 14px;
  color: #7f8c8c; }
  .contact-adress__mark:before {
    content: url(../../img/map.png);
    padding-right: 10px; }

.contact-adress__phone {
  margin-top: 35px;
  font-size: 16px;
  color: #7f8c8c; }
  .contact-adress__phone:before {
    content: url(../../img/phone.png);
    padding-right: 10px; }

.contact-adress__mail {
  margin-top: 15px;
  font-size: 16px; }
  .contact-adress__mail a {
    color: #e8645a; }

@media screen and (max-width: 993px) {
  .contact-form__email, .contact-form__site, .contact-form__name, .contact-form__message, .contact-form__submit {
    width: 100%; }
  .contact-adress {
    text-align: center;
    padding: 0;
    margin-top: 20px; }
    .contact-adress__title, .contact-adress__mark, .contact-adress__phone, .contact-adress__mail {
      padding: 0; }
  .contact-form__name + span, .contact-form__email + span, .contact-form__site + span {
    display: block; }
  footer {
    margin-top: 60px; }
  .contact-form__title {
    text-align: center; } }

footer {
  min-height: 350px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(86%, #76C7C0), color-stop(14%, #6AB3AC));
  background-image: -webkit-linear-gradient(top, #76C7C0 86%, #6AB3AC 14%);
  background-image: linear-gradient(to bottom, #76C7C0 86%, #6AB3AC 14%);
  margin-top: 235px; }

.footer-bcgTop {
  background: url(../img/footer-bcg.png) no-repeat;
  height: 20px; }

.footer-contact {
  color: white; }

.footer-contact__title {
  margin-top: 48px;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase; }
  .footer-contact__title span {
    font-size: 22px;
    font-weight: 400; }

.footer-contact__text {
  margin-top: 34px;
  font-size: 13px; }

.footer-contact__phone {
  margin-top: 34px;
  font-size: 13px; }
  .footer-contact__phone span {
    font-size: 20px;
    margin-left: 25px; }

.footer-contact__email {
  margin-top: 15px;
  font-size: 13px; }
  .footer-contact__email span {
    font-size: 20px;
    margin-left: 25px; }

.footer-contact__copyright {
  margin-top: 62px;
  font-size: 12px; }

.footer-company {
  margin-top: 52px; }
  .footer-company__title {
    font-size: 20px;
    font-weight: 700;
    color: #497e79;
    margin-left: 30px; }
  .footer-company__list {
    margin-top: 35px; }
    .footer-company__list a {
      margin-top: 14px;
      font-size: 13px;
      color: white;
      text-decoration: none; }
    .footer-company__list li {
      margin-top: 8px;
      margin-left: 55px; }
      .footer-company__list li i {
        padding-right: 5px; }

.footer-community {
  margin-top: 52px; }
  .footer-community__title {
    font-size: 20px;
    font-weight: 700;
    color: #497e79;
    margin-left: 30px; }
  .footer-community__list {
    margin-top: 35px; }
    .footer-community__list a {
      margin-top: 14px;
      font-size: 13px;
      color: white;
      text-decoration: none; }
    .footer-community__list li {
      margin-top: 8px;
      margin-left: 55px; }
      .footer-community__list li i {
        padding-right: 5px; }

.footer-blog__title {
  margin-top: 52px;
  font-style: italic;
  font-size: 20px;
  color: white; }
  .footer-blog__title span {
    font-weight: 700;
    font-style: normal; }

.footer-blog__block {
  margin-top: 25px;
  position: relative; }
  .footer-blog__block p {
    display: inline-block; }
  .footer-blog__block:last-of-type {
    margin-top: 20px; }

.block-image {
  display: inline-block; }
  .block-image i {
    padding: 20px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    background: #5e9f9a;
    color: #bad3d1;
    cursor: pointer; }

.block-text {
  position: absolute;
  top: 0;
  left: 92px;
  color: white; }
  .block-text .block-data {
    margin-top: 10px;
    color: #497e79; }

.footer-blog__icons {
  margin-top: 30px;
  color: white;
  text-align: right; }
  .footer-blog__icons i {
    margin-right: 30px;
    font-size: 22px;
    cursor: pointer; }
    .footer-blog__icons i:last-of-type {
      margin-right: 0; }

@media screen and (max-width: 990px) {
  .footer-blog {
    display: none; } }

@media screen and (width: 768px) {
  .footer-contact {
    width: 100%; } }

@media screen and (max-width: 768px) {
  .footer-community, .footer-company {
    display: none; }
  .footer-contact {
    text-align: center; } }
